openapi: 3.0.1
info:
  title: Python SDK for Opsgenie REST API
  description: Python SDK for Opsgenie REST API
  version: 2.0.0
  termsOfService: http://example.com/terms/
  contact:
    name: Opsgenie Python SDK Support
    email: support@opsgenie.com
    url: https://www.opsgenie.com/contact-us
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
#  externalDocs:
#    description: Find out more
#    url: https://docs.opsgenie.com/docs/opsgenie-python-api
servers:
- url: https://api.opsgenie.com/
security:
- GenieKey: []
paths:
  /v2/alerts/requests/{requestId}:
    get:
      tags:
      - alert
      summary: Get Request Status of Alert
      description: Used to track the status and alert details (if any) of the request
        whose identifier is given
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-get-request-status
      operationId: getRequestStatus
      parameters:
      - name: requestId
        in: path
        description: Universally unique identifier of the questioned request
        required: true
        schema:
          type: string
      responses:
        200:
          description: Request status information for given id
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequestStatusResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/alerts:
    get:
      tags:
      - alert
      summary: List Alerts
      description: Returns list of alerts
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-alerts
      operationId: listAlerts
      parameters:
      - name: query
        in: query
        description: Search query to apply while filtering the alerts
        schema:
          type: string
      - name: searchIdentifier
        in: query
        description: Identifier of the saved search query to apply while filtering
          the alerts
        schema:
          type: string
      - name: searchIdentifierType
        in: query
        description: Identifier type of the saved search query. Possible values are
          'id', or 'name'
        schema:
          type: string
          default: id
          enum:
          - id
          - name
      - name: offset
        in: query
        description: Start index of the result set (to apply pagination). Minimum
          value (and also default value) is 0
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum number of items to provide in the result. Must be a positive
          integer value. Default value is 20 and maximum value is 100
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: sort
        in: query
        description: Name of the field that result set will be sorted by
        schema:
          type: string
          default: createdAt
          enum:
          - createdAt
          - updatedAt
          - tinyId
          - alias
          - message
          - status
          - acknowledged
          - isSeen
          - snoozed
          - snoozedUntil
          - count
          - lastOccurredAt
          - source
          - owner
          - integration.name
          - integration.type
          - report.ackTime
          - report.closeTime
          - report.acknowledgedBy
          - report.closedBy
      - name: order
        in: query
        description: Sorting order of the result set
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        200:
          description: List of alert informations
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Paging-Last:
              description: Last page url
              schema:
                type: string
            X-Paging-First:
              description: First page url
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Paging-Prev:
              description: Previous page url
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertsResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: ListAlertsRequest
    post:
      tags:
      - alert
      summary: Create Alert
      description: Creates a new alert
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-create-alert
      operationId: createAlert
      requestBody:
        description: Request payload of created alert
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateAlertPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/alerts/{identifier}:
    get:
      tags:
      - alert
      summary: Get Alert
      description: Returns alert with given id, tiny id or alias
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-get-alert
      operationId: getAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      responses:
        200:
          description: Alert information for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: GetAlertRequest
    delete:
      tags:
      - alert
      summary: Delete Alert
      description: Deletes an alert using alert id, tiny id or alias
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-delete-alert
      operationId: deleteAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      - name: user
        in: query
        description: Display name of the request owner
        schema:
          type: string
      - name: source
        in: query
        description: Display name of the request source
        schema:
          type: string
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: DeleteAlertRequest
  /v2/alerts/{identifier}/acknowledge:
    post:
      tags:
      - alert
      summary: Acknowledge Alert
      description: Acknowledges alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-acknowledge-alert
      operationId: acknowledgeAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of acknowledging alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AcknowledgeAlertPayload'
        required: false
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: AcknowledgeAlertRequest
  /v2/alerts/{identifier}/unacknowledge:
    post:
      tags:
      - alert
      summary: UnAcknowledge Alert
      description: UnAcknowledge alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-unacknowledge-alert
      operationId: unAcknowledgeAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of unacknowledging alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UnAcknowledgeAlertPayload'
        required: false
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: UnAcknowledgeAlertRequest
  /v2/alerts/{identifier}/close:
    post:
      tags:
      - alert
      summary: Close Alert
      description: Closes alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-close-alert
      operationId: closeAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of closing alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CloseAlertPayload'
        required: false
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: CloseAlertRequest
  /v2/alerts/{identifier}/snooze:
    post:
      tags:
      - alert
      summary: Snooze Alert
      description: Snooze alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-snooze-alert
      operationId: snoozeAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of snoozing alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SnoozeAlertPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: SnoozeAlertRequest
  /v2/alerts/{identifier}/escalate:
    post:
      tags:
      - alert
      summary: Escalate Alert
      description: Escalate alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-escalate-alert-to-next
      operationId: escalateAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of escalating alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EscalateAlertToNextPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: EscalateAlertRequest
  /v2/alerts/{identifier}/assign:
    post:
      tags:
      - alert
      summary: Assign Alert
      description: Assign alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-assign-alert
      operationId: assignAlert
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of assigning alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AssignAlertPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: AssignAlertRequest
  /v2/alerts/{identifier}/responders:
    post:
      tags:
      - alert
      summary: Add Responder
      description: Add responder to alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-add-responder-to-alert
      operationId: addResponder
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of adding responder to alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddResponderToAlertPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: AddResponderToAlertRequest
  /v2/alerts/{identifier}/teams:
    post:
      tags:
      - alert
      summary: Add Team
      description: Add team to alert with given identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-add-team-to-alert
      operationId: addTeam
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        description: Request payload of adding team to alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddTeamToAlertPayload'
        required: true
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: AddTeamToAlertRequest
  /v2/alerts/{identifier}/actions/{actionName}:
    post:
      tags:
      - alert
      summary: Custom Alert Action
      description: Custom actions for the alert
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-execute-custom-action
      operationId: executeCustomAlertAction
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      - name: actionName
        in: path
        description: Name of the action to execute
        required: true
        schema:
          type: string
      requestBody:
        description: Request payload of executing custom alert action
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ExecuteCustomAlertActionPayload'
        required: false
      responses:
        202:
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: ExecuteCustomAlertActionRequest
  /v2/alerts/{identifier}/recipients:
    get:
      tags:
      - alert
      summary: List Alert Recipients
      description: List alert recipients for the given alert identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-alert-recipients
      operationId: listRecipients
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      responses:
        200:
          description: Returns alert recipients for the given alert identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertRecipientsResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: ListAlertRecipientsRequest
  /v2/alerts/{identifier}/logs:
    get:
      tags:
      - alert
      summary: List Alert Logs
      description: List alert logs for the given alert identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-alert-logs
      operationId: listLogs
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: identifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      - name: offset
        in: query
        description: Starting value of the offset property
        schema:
          type: string
      - name: direction
        in: query
        description: Page direction to apply for the given offset with 'next' and
          'prev'
        schema:
          type: string
          default: next
          enum:
          - next
          - prev
      - name: limit
        in: query
        description: Maximum number of items to provide in the result. Must be a positive
          integer value. Default value is 20 and maximum value is 100
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: order
        in: query
        description: Sorting order of the result set
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        200:
          description: Returns alert logs for the given alert identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Paging-First:
              description: First page url
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertLogsResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: ListAlertLogsRequest
  /v2/alerts/{identifier}/attachments:
    get:
      tags:
      - alert
      summary: List Alert Attachments
      description: List alert attachment names and urls for related alert
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-alert-attachments
      operationId: listAttachments
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: alertIdentifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      responses:
        200:
          description: Returns name and url for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertAttachmentsResponse'
        400:
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-collapse-params: ListAlertAttachmentsRequest
    post:
      tags:
      - alert
      summary: Add Alert Attachment
      description: Add Alert Attachment to related alert
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-create-alert-attachment
      operationId: addAttachment
      parameters:
      - name: identifier
        in: path
        description: Identifier of alert which could be alert id, tiny id or alert
          alias
        required: true
        schema:
          type: string
      - name: alertIdentifierType
        in: query
        description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', 'alias' or 'tiny'
        schema:
          type: string
          default: id
          enum:
          - id
          - alias
          - tiny
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: Attachment file to be uploaded
                  format: binary
                user:
                  type: string
                  description: Display name of the request owner
                indexFile:
                  type: string
                  description: Name of html file which will be shown when attachment
                    clicked on UI
        required: true
      responses:
        201:
          description: Returns attachment id
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              schema:
                type: string
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Corrupted file
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              schema:
                type: string
          content:
            application/json:
[...]
