{
  "swagger": "2.0",
  "info": {
    "title": "Opsgenie REST API",
    "description": "Opsgenie OpenAPI Specification",
    "version": "2.0.0"
  },
  "host": "api.opsgenie.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "GenieKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "GenieKey": []
    }
  ],
  "paths": {
    "/v2/alerts/requests/{requestId}": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Get Request Status of Alert",
        "description": "Used to track the status and alert details (if any) of the request whose identifier is given",
        "operationId": "getRequestStatus",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-get-request-status"
        },
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Universally unique identifier of the questioned request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request status information for given id",
            "schema": {
              "$ref": "#/definitions/GetRequestStatusResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "List Alerts",
        "description": "Returns list of alerts",
        "operationId": "listAlerts",
        "x-collapse-params": "ListAlertsRequest",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-alerts"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query to apply while filtering the alerts",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchIdentifier",
            "in": "query",
            "description": "Identifier of the saved search query to apply while filtering the alerts",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchIdentifierType",
            "in": "query",
            "description": "Identifier type of the saved search query. Possible values are 'id', or 'name'",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name"
            ],
            "default": "id"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start index of the result set (to apply pagination). Minimum value (and also default value) is 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to provide in the result. Must be a positive integer value. Default value is 20 and maximum value is 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Name of the field that result set will be sorted by",
            "required": false,
            "type": "string",
            "enum": [
              "createdAt",
              "updatedAt",
              "tinyId",
              "alias",
              "message",
              "status",
              "acknowledged",
              "isSeen",
              "snoozed",
              "snoozedUntil",
              "count",
              "lastOccurredAt",
              "source",
              "owner",
              "integration.name",
              "integration.type",
              "report.ackTime",
              "report.closeTime",
              "report.acknowledgedBy",
              "report.closedBy"
            ],
            "default": "createdAt"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sorting order of the result set",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "List of alert informations",
            "schema": {
              "$ref": "#/definitions/ListAlertsResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              },
              "X-Paging-Prev": {
                "description": "Previous page url",
                "type": "string"
              },
              "X-Paging-Next": {
                "description": "Next page url",
                "type": "string"
              },
              "X-Paging-First": {
                "description": "First page url",
                "type": "string"
              },
              "X-Paging-Last": {
                "description": "Last page url",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Create Alert",
        "description": "Creates a new alert",
        "operationId": "createAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-create-alert"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of created alert",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Get Alert",
        "description": "Returns alert with given id, tiny id or alias",
        "operationId": "getAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-get-alert"
        },
        "x-collapse-params": "GetAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert information for given identifier",
            "schema": {
              "$ref": "#/definitions/GetAlertResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "alert"
        ],
        "summary": "Delete Alert",
        "description": "Deletes an alert using alert id, tiny id or alias",
        "operationId": "deleteAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-delete-alert"
        },
        "x-collapse-params": "DeleteAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "$ref": "#/parameters/AlertUserParam"
          },
          {
            "$ref": "#/parameters/AlertSourceParam"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/acknowledge": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Acknowledge Alert",
        "description": "Acknowledges alert with given identifier",
        "operationId": "acknowledgeAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-acknowledge-alert"
        },
        "x-collapse-params": "AcknowledgeAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of acknowledging alert action",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AcknowledgeAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/unacknowledge": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "UnAcknowledge Alert",
        "description": "UnAcknowledge alert with given identifier",
        "operationId": "unAcknowledgeAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-unacknowledge-alert"
        },
        "x-collapse-params": "UnAcknowledgeAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of unacknowledging alert action",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UnAcknowledgeAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/close": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Close Alert",
        "description": "Closes alert with given identifier",
        "operationId": "closeAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-close-alert"
        },
        "x-collapse-params": "CloseAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of closing alert action",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CloseAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/snooze": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Snooze Alert",
        "description": "Snooze alert with given identifier",
        "operationId": "snoozeAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-snooze-alert"
        },
        "x-collapse-params": "SnoozeAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of snoozing alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SnoozeAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/escalate": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Escalate Alert",
        "description": "Escalate alert with given identifier",
        "operationId": "escalateAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-escalate-alert-to-next"
        },
        "x-collapse-params": "EscalateAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of escalating alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscalateAlertToNextPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/assign": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Assign Alert",
        "description": "Assign alert with given identifier",
        "operationId": "assignAlert",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-assign-alert"
        },
        "x-collapse-params": "AssignAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of assigning alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/responders": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Responder",
        "description": "Add responder to alert with given identifier",
        "operationId": "addResponder",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-add-responder-to-alert"
        },
        "x-collapse-params": "AddResponderToAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of adding responder to alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddResponderToAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/teams": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Team",
        "description": "Add team to alert with given identifier",
        "operationId": "addTeam",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-add-team-to-alert"
        },
        "x-collapse-params": "AddTeamToAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of adding team to alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTeamToAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/actions/{actionName}": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Custom Alert Action",
        "description": "Custom actions for the alert",
        "operationId": "executeCustomAlertAction",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-execute-custom-action"
        },
        "x-collapse-params": "ExecuteCustomAlertActionRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "Name of the action to execute",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of executing custom alert action",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExecuteCustomAlertActionPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/recipients": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "List Alert Recipients",
        "description": "List alert recipients for the given alert identifier",
        "operationId": "listRecipients",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-alert-recipients"
        },
        "x-collapse-params": "ListAlertRecipientsRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns alert recipients for the given alert identifier",
            "schema": {
              "$ref": "#/definitions/ListAlertRecipientsResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/logs": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "List Alert Logs",
        "description": "List alert logs for the given alert identifier",
        "operationId": "listLogs",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-alert-logs"
        },
        "x-collapse-params": "ListAlertLogsRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/PageDirectionParam"
          },
          {
            "$ref": "#/parameters/AlertLimitParam"
          },
          {
            "$ref": "#/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns alert logs for the given alert identifier",
            "schema": {
              "$ref": "#/definitions/ListAlertLogsResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              },
              "X-Paging-Next": {
                "description": "Next page url",
                "type": "string"
              },
              "X-Paging-First": {
                "description": "First page url",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/attachments": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "List Alert Attachments",
        "description": "List alert attachment names and urls for related alert",
        "operationId": "listAttachments",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-alert-attachments"
        },
        "x-collapse-params": "ListAlertAttachmentsRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType2"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns name and url for given identifier",
            "schema": {
              "$ref": "#/definitions/ListAlertAttachmentsResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Alert Attachment",
        "description": "Add Alert Attachment to related alert",
        "operationId": "addAttachment",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-create-alert-attachment"
        },
        "x-collapse-params": "AddAttachmentToAlertRequest",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType2"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "description": "Attachment file to be uploaded",
            "type": "file"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Display name of the request owner",
            "required": false,
            "type": "string"
          },
          {
            "name": "indexFile",
            "in": "formData",
            "description": "Name of html file which will be shown when attachment clicked on UI",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns attachment id",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Corrupted file",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Get Alert Attachment",
        "description": "Get alert attachment name and url for the given identifier",
        "operationId": "getAttachment",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-get-alert-attachment"
        },
        "x-collapse-params": "GetAlertAttachmentRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType2"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Identifier of alert attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns name and url for given identifier",
            "schema": {
              "$ref": "#/definitions/GetAlertAttachmentResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "alert"
        ],
        "summary": "Remove Alert Attachment",
        "description": "Remove alert attachment for the given identifier",
        "operationId": "removeAttachment",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-delete-alert-attachment"
        },
        "x-collapse-params": "RemoveAttachmentFromAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType2"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Identifier of alert attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/AlertUserParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns deleted messsage for this async operation.",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/tags": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Tags",
        "description": "Add tags to the alert with given identifier",
        "operationId": "addTags",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-add-tags-to-alert"
        },
        "x-collapse-params": "AddTagsToAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of creating alert tags action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "alert"
        ],
        "summary": "Remove Tags",
        "description": "Remove tags of the alert with given identifier",
        "operationId": "removeTags",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-remove-tags-from-alert"
        },
        "x-collapse-params": "RemoveTagsFromAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "$ref": "#/parameters/AlertUserParam"
          },
          {
            "$ref": "#/parameters/AlertNoteParam"
          },
          {
            "$ref": "#/parameters/AlertSourceParam"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Tags field of the given alert as comma seperated values (e.g. 'tag1, tag2')",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/details": {
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Details",
        "description": "Add details to the alert with given identifier",
        "operationId": "addDetails",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-add-details-custom-properties-to-alert"
        },
        "x-collapse-params": "AddDetailsToAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of adding alert details action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddDetailsToAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "alert"
        ],
        "summary": "Remove Details",
        "description": "Remove details of the alert with given identifier",
        "operationId": "removeDetails",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-remove-details-custom-properties-from-alert"
        },
        "x-collapse-params": "RemoveDetailsFromAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "$ref": "#/parameters/AlertUserParam"
          },
          {
            "$ref": "#/parameters/AlertNoteParam"
          },
          {
            "$ref": "#/parameters/AlertSourceParam"
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Comma separated list of keys to remove from the custom properties of the alert (e.g. 'key1,key2')",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/notes": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "List Alert Notes",
        "description": "List alert notes for the given alert identifier",
        "operationId": "listNotes",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-alert-notes"
        },
        "x-collapse-params": "ListAlertNotesRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/PageDirectionParam"
          },
          {
            "$ref": "#/parameters/AlertLimitParam"
          },
          {
            "$ref": "#/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns alert notes for the given alert identifier",
            "schema": {
              "$ref": "#/definitions/ListAlertNotesResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              },
              "X-Paging-Next": {
                "description": "Next page url",
                "type": "string"
              },
              "X-Paging-First": {
                "description": "First page url",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Add Note",
        "description": "Adds note to alert with given identifier",
        "operationId": "addNote",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-add-note-to-alert"
        },
        "x-collapse-params": "AddNoteToAlertRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of adding note to alert action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNoteToAlertPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/saved-searches": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Lists Saved Searches",
        "description": "List all saved searches",
        "operationId": "listSavedSearches",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-list-saved-searches"
        },
        "responses": {
          "200": {
            "description": "Returns saved search list",
            "schema": {
              "$ref": "#/definitions/ListSavedSearchesResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "alert"
        ],
        "summary": "Create Saved Search",
        "description": "Create saved search with given fields",
        "operationId": "createSavedSearches",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-create-a-saved-search"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of creating saved search",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSavedSearchPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns saved search meta information",
            "schema": {
              "$ref": "#/definitions/CreateSavedSearchResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/saved-searches/{identifier}": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Get Saved Search",
        "description": "Get saved search for the given search identifier",
        "operationId": "getSavedSearch",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/alert-api#section-get-saved-search"
        },
        "x-collapse-params": "GetSavedSearchRequest",
        "parameters": [
          {
            "$ref": "#/parameters/SearchIdentifier"
          },
          {
            "$ref": "#/parameters/SearchIdentifierType"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns saved search for given identifier",
            "schema": {
              "$ref": "#/definitions/GetSavedSearchResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "alert"
        ],
        "summary": "Delete Saved Search",
        "description": "Deletes saved search using given search identifier",
        "operationId": "deleteSavedSearch",
        "x-collapse-params": "DeleteSavedSearchRequest",
        "parameters": [
          {
            "$ref": "#/parameters/SearchIdentifier"
          },
          {
            "$ref": "#/parameters/SearchIdentifierType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ok"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "alert"
        ],
        "summary": "Update Saved Search",
        "description": "Update saved search for the given search identifier",
        "operationId": "updateSavedSearch",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/alert-api-continued#section-update-saved-search"
        },
        "x-collapse-params": "UpdateSavedSearchRequest",
        "parameters": [
          {
            "$ref": "#/parameters/SearchIdentifier"
          },
          {
            "$ref": "#/parameters/SearchIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of updating saved search",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSavedSearchPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns saved search for given identifier",
            "schema": {
              "$ref": "#/definitions/GetSavedSearchResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/count": {
      "get": {
        "tags": [
          "alert"
        ],
        "summary": "Count Alerts",
        "description": "Count alerts in Opsgenie",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/alert-api#section-count-alerts"
        },
        "operationId": "countAlerts",
        "x-collapse-params": "GetCountAlertsRequest",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query to apply while filtering the alerts",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchIdentifier",
            "in": "query",
            "description": "Identifier of the saved search query to apply while filtering the alerts",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchIdentifierType",
            "in": "query",
            "description": "Identifier type of the saved search query. Possible values are id and name. Default value is id. If searchIdentifier is not provided, this value is ignored.",
            "type": "string",
            "default": "id",
            "enum": [
              "id",
              "name"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns saved search for given identifier",
            "schema": {
              "$ref": "#/definitions/GetCountAlertsResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/message": {
      "put": {
        "tags": [
          "alert"
        ],
        "summary": "Update Alert Message",
        "description": "Update the message of the alert with given identifier",
        "operationId": "updateAlertMessage",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-message"
        },
        "x-collapse-params": "UpdateAlertMessageRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of update alert message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAlertMessagePayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/description": {
      "put": {
        "tags": [
          "alert"
        ],
        "summary": "Update Alert Description",
        "description": "Update the description of the alert with given identifier",
        "operationId": "updateAlertDescription",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-description"
        },
        "x-collapse-params": "UpdateAlertDescriptionRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of update alert description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAlertDescriptionPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/alerts/{identifier}/priority": {
      "put": {
        "tags": [
          "alert"
        ],
        "summary": "Update Alert Priority",
        "description": "Update the priority of the alert with given identifier",
        "operationId": "updateAlertPriority",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-priority"
        },
        "x-collapse-params": "UpdateAlertPriorityRequest",
        "parameters": [
          {
            "$ref": "#/parameters/AlertIdentifier"
          },
          {
            "$ref": "#/parameters/AlertIdentifierType"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of update alert priority",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAlertPriorityPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/heartbeats/{name}/ping": {
      "get": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Ping Heartbeat",
        "description": "Ping Heartbeat for given heartbeat name",
        "operationId": "ping",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-ping-heartbeat-request"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/heartbeats": {
      "get": {
        "tags": [
          "heartbeat"
        ],
        "summary": "List Heartbeats",
        "description": "Returns list of Heartbeats",
        "operationId": "listHeartBeats",
        "x-collapse-params": "ListHeartBeatRequest",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/heartbeat-api#section-list-heartbeats"
        },
        "responses": {
          "200": {
            "description": "List of heartbeat informations",
            "schema": {
              "$ref": "#/definitions/ListHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              },
              "X-Paging-Prev": {
                "description": "Previous page url",
                "type": "string"
              },
              "X-Paging-Next": {
                "description": "Next page url",
                "type": "string"
              },
              "X-Paging-First": {
                "description": "First page url",
                "type": "string"
              },
              "X-Paging-Last": {
                "description": "Last page url",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Create Heartbeat",
        "description": "Create a new heartbeat",
        "operationId": "createHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-add-heartbeat-request"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of created heartbeat",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateHeartbeatPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Heartbeat information for created heartbeat name",
            "schema": {
              "$ref": "#/definitions/CreateHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/heartbeats/{name}": {
      "get": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Get Heartbeat",
        "description": "Returns heartbeat with given name",
        "operationId": "getHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-get-heartbeat-request"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat information for given heartbeat name",
            "schema": {
              "$ref": "#/definitions/GetHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Update Heartbeat (Partial)",
        "description": "Update Heartbeatwith given name",
        "operationId": "updateHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-update-heartbeat-request-partial"
        },
        "x-collapse-params": "UpdateHeartbeatRequest",
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of update heartbeat action",
            "schema": {
              "$ref": "#/definitions/UpdateHeartbeatPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat meta information for given heartbeat name",
            "schema": {
              "$ref": "#/definitions/UpdateHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Delete Heartbeat",
        "description": "Delete heartbeat with given name",
        "operationId": "deleteHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-delete-heartbeat-request"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ok"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/heartbeats/{name}/enable": {
      "post": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Enable Heartbeat",
        "description": "Enable heartbeat request with given name",
        "operationId": "enableHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-enable-heartbeat-request"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat meta information for given heartbeat name",
            "schema": {
              "$ref": "#/definitions/EnableHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/heartbeats/{name}/disable": {
      "post": {
        "tags": [
          "heartbeat"
        ],
        "summary": "Disable Heartbeat",
        "description": "Disable heartbeat request with given name",
        "operationId": "disableHeartbeat",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/heartbeat-api#section-disable-heartbeat-request"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HeartbeatName"
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat meta information for given heartbeat name",
            "schema": {
              "$ref": "#/definitions/DisableHeartbeatResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/account": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get Account Info",
        "description": "Used to search and retrieve account information in Opsgenie",
        "operationId": "getInfo",
        "externalDocs": {
          "description": "For more information",
          "url": "https://www.opsgenie.com/docs/account-api#section-get-account-info"
        },
        "responses": {
          "200": {
            "description": "Request status information for given id",
            "schema": {
              "$ref": "#/definitions/GetAccountInfoResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v1/incidents/requests/{requestId}": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Get Request Status of Incident",
        "description": "Used to track the status and incident details (if any) of the request whose identifier is given",
        "operationId": "getIncidentRequestStatus",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/incident-api#section-get-request-status"
        },
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Universally unique identifier of the questioned request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request status information for given id",
            "schema": {
              "$ref": "#/definitions/GetIncidentRequestStatusResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v1/incidents/create": {
      "post": {
        "tags": [
          "incident"
        ],
        "summary": "Create Incident",
        "description": "Creates a new incident",
        "operationId": "createIncident",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/incident-api#section-create-incident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Request payload of created incident",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIncidentPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/Accepted"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/TooManyRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v1/incidents/{identifier}": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Get Incident",
        "description": "Returns incident with given id, tiny id or alias",
        "operationId": "getIncident",
        "externalDocs": {
          "description": "For more information",
          "url": "https://docs.opsgenie.com/docs/incident-api#section-get-incident"
        },
        "x-collapse-params": "GetIncidentRequest",
        "parameters": [
          {
            "$ref": "#/parameters/IncidentIdentifier"
          },
          {
            "$ref": "#/parameters/IncidentIdentifierType"
          }
        ],
        "responses": {
          "200": {
            "description": "Incident information for given identifier",
            "schema": {
              "$ref": "#/definitions/GetIncidentResponse"
            },
            "headers": {
              "X-Request-ID": {
                "description": "Id of given request",
                "type": "string"
              },
              "X-Response-Time": {
                "description": "Process time of given request",
                "type": "string"
              },
              "X-RateLimit-State": {
                "description": "Status of rate limit",
                "type": "string"
              },
              "X-RateLimit-Reason": {
                "description": "Source of the rate limit",
                "type": "string"
              },
              "X-RateLimit-Period-In-Sec": {
                "description": "Time of throttle in seconds",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
[...]
