# coding: utf-8

{{>partial_header}}

import os

from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["urllib3 >= 1.26.5", "six >= 1.10", "certifi", "python-dateutil", "setuptools >= 21.0.0", "tenacity >= 5.0.4"]
{{#asyncio}}
REQUIRES.append("aiohttp >= 3.0.0")
{{/asyncio}}
{{#tornado}}
REQUIRES.append("tornado>=4.2,<5")
{{/tornado}}

with open("README.md", "r") as fh:
    long_description = fh.read()

setup(
    name=NAME,
    version=VERSION,
    author="OpsGenie",
    author_email="{{infoEmail}}",
    description="{{appName}}",
    long_description=long_description,
    long_description_content_type="text/markdown",
    url="{{packageUrl}}",
    packages=find_packages(exclude=['samples']),
    keywords=["OpenAPI", "OpenAPI-Generator", "{{{appName}}}", "OpsGenie", "Opsgenie"],
    install_requires=REQUIRES,
    include_package_data=True,
    project_urls={
        'Documentation': 'https://docs.opsgenie.com/docs/opsgenie-python-api',
        'Source': '{{packageUrl}}',
        'Tracker': '{{packageUrl}}/issues',
    },
    classifiers=[
        'Development Status :: 5 - Production/Stable',
        'License :: OSI Approved :: Apache Software License',
        "Operating System :: OS Independent",
    ]
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
